.agendamento-dados {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:  rgb(255, 255, 255, 0.8);
}

.agendamento-hora {
    color: black;
    margin: 0;
    margin-left: 5px;
}

.agendamento-status {
    margin: 0;
    margin-right: 5px;
    padding: 3px;
    color: black;
    font-weight: 600;
}

.agendamento-data {
    color: black;
    margin: 0;
    margin-left: 5px;
}

.agendamento-cancelar {
    color: white;
    background-color: rgb(226, 34, 34);

    padding: 3px;
}


@media (min-width: 266px) {
    .agendamento-hora {
        font-size: 12px;
    }
    .agendamento-status {
        font-size: 12px;
    }
    .agendamento-data {
        font-size: 12px;
    }
    .agendamento-cancelar {
        font-size: 12px;    
    }

}