.tela-toda-fundo-preto-show {
  height: 100vh;
  background-color: rgb(24, 24, 24);
  overflow-y: auto;
}
.font-s {
  font-size: 14px;
}
.background {
  background-color: rgb(24, 24, 24);
}
.div-btn-form-login {
  height: 48vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.height-row {
  height: 58vh;
}

.btn-login {
  width: 60%;
  height: 40px;

  background-color: transparent;
  border: 1px solid white;

  border-radius: 20px;

  color: white;
  font-weight: 600;

  letter-spacing: 1px;
}
.lista-icon-social {
  padding: 0;
  margin: 0;

  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  list-style: none;
}
.lista-icon-social > li {
  text-align: center;
}

.rolagem {
  max-height: 380px;
  overflow-y: auto;
}

.div-login-hidden {
  opacity: 0;
  transition: 350ms;
}
.form-login-escondido {
  display: none;
}
.hidden-form {
  opacity: 0;
  transition: 350ms;
}
.btn-google {
  width: 100%;
  height: 34px;

  border: 1px solid white;
  border-radius: 20px;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow-y: hidden;
}

  .btn-google > img {
    max-width: 7% !important;
  }
  
  @media (min-width: 1100px) {
    .btn-google > img {
      max-width: 4% !important;
    }        
  }

.row-white {
  width: 100%;
  border-bottom: 1px solid white;
  position: relative;
  margin: 30px 0px 0px 0px;
  display: flex;
  justify-content: center;
}
.row-white > span {
  position: absolute;
  color: white;
  top: -13px;
  background-color: rgb(24, 24, 24);
}

.form-control:focus {
    border-color: #fff; /* Cor da borda quando o input está em foco */
    box-shadow: 0 0 0 0.2rem #7a7a7a; /* Cor da sombra ao redor do input */
}