.balloon {
  width: 200px;
  background-color: white;
  border-radius: 5px;
  margin: 0px 0px 30px 0px;
  border-bottom: none;
  position: relative;
  animation: pulse 2s infinite; /* Animação contínua do balão */
}

.msg-balloon {
  font-weight: 500;
  padding: 8px;
  text-align: center;
  opacity: 0;
  animation: fadeInText 90ms forwards 80ms; /* Aparecimento suave do texto após o balão */
}

/* Animação do balão com bordas pulsantes */
@keyframes pulse {
  0% {
    border-radius: 5px;
    transform: scale(1);
  }
  25% {
    border-radius: 15px;
    transform: scale(1.05); /* Alonga as bordas e aumenta o balão */
  }
  50% {
    border-radius: 5px;
    transform: scale(1); /* Retorna ao normal */
  }
  75% {
    border-radius: 15px;
    transform: scale(1.05);
  }
  100% {
    border-radius: 5px;
    transform: scale(1);
  }
}

/* Animação do texto do balão */
@keyframes fadeInText {
  0% {
    opacity: 0;
    transform: translateY(10px); /* O texto inicia deslocado */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* Texto aparece no lugar correto */
  }
}

.position-get-on-balloon {
  position: absolute;
  top: 70px;
  left: 160px;
}
