.fundo-imagem-pagamento {
  height: auto;
  width: 100%;
  background-image: url("../../../public/barbearia_utensilios.avif");
  background-position: center;
}

.responsividade-form-pagamento {
  padding: 17% 0px 4% 0px;
  height: 100vh;
  overflow-y: auto;
}

.card-form {
  height: 100vh;
  max-height: 100vh;
}

.adapt-this-page {
  margin-top: 4%;
  margin-bottom: 4%;

}

.custom-encapsula-form-pg {
  height: auto;
  overflow-y: auto;
}
.formulario-page-pagamento {
  width: 100%;
  height: 100%;
  max-width: 500px;
  background-color: rgba(81, 81, 87, 0.7);
  backdrop-filter: blur(3px);
  border-radius: 10px;
}
.responsive-div-encapsula-campos {
  height: 100%;
}

@media (min-width: 768px) {
  .custom-encapsula-form-pg {
    height: 100vh;
    overflow-y: hidden;
  }
  .formulario-page-pagamento {
    width: 100%;
    height: 92vh;
    overflow-y: scroll;
    max-width: 500px;
    background-color: rgba(81, 81, 87, 0.7);
    backdrop-filter: blur(3px);
    border-radius: 10px;
  }
}