.scroll-horarios {
  height: 47vh;
  overflow-y: auto;
}

.fundo-imagem {
  height: 98vh;
  width: 100%;
  background-image: url("../../../public/barbearia_utensilios.avif");
  background-position: center;
}

.cortina-transparente {
  width: 100%;
  height: 100%;
  background-color: rgb(19, 19, 30, 0.8);
}

.tamanho-maximo {
  width: 100%;
}

.head-horarios {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quantia-agendamento-horarios {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 3px;
}

.align-qnt-agendamento {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15px 10px;
  border-radius: 4px;
  background-color: white;
  font-size: 13px;
}

.list-horarios {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.itens-list-horarios {
  width: 90%;
  background-color: #32373b;
  border-radius: 8px;
  margin: 5px 0px;
}

.itens-list-horarios:last-child {
  margin-bottom: 22%;
}

.row-agendamento-pendente {
  background-color: white;
}

.p-agendamento-pendente {
  color: #373c41;
  font-weight: 700;
  font-size: 14px;
  margin: 4px 0px;
}