.height-main {
    height: 81vh;
    overflow-y: auto;
}

.border-list-services {
    border-top: 1px solid rgb(107, 107, 107);
    border-bottom: 1px solid rgb(107, 107, 107);

}
.text-claro {
    color: #8b8a8a;
}