.agendamento-feedback-linha {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
  color: #333;
  background-color: white;
  font-size: 0.95rem;
  padding: 8px 14px;
  border-radius: 12px;
  font-weight: 600;
}

.status {
  font-weight: 700;
}