.pagina-servicos {
  padding-bottom: 90px; /* espaço extra pro footer */
  overflow-y: auto;
  height: 100%;
}

.servicos-container {
  padding: 20px 16px;
  color: white;
}

.div-load-barbearia {
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lista-servicos {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.item-servico {
  height: 120px;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 12px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.item-servico-ativo {
  height: 120px;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  border: 1px solid #00e676;
  border-radius: 12px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.encapsula-servico {
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.imagem-servico {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #fff;
}

.info-servico {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.nome-servico {
  font-size: 1.1rem;
  margin: 0;
  font-weight: bold;
  color: #fff;
}

.prazo-servico {
  margin: 2px 0;
  font-size: 0.95rem;
  color: #cfcfcf;
}

.preco-servico {
  margin: 0;
  font-size: 1rem;
  font-weight: bold;
  color: #00e676;
}

.botao-escolher-servico {
  width: 20%;
  height: 120px;
  padding: 0 5px;
  background-color: rgba(0, 0, 0, 0.85);
  border: none;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  color: #aaa;
  cursor: not-allowed;
  font-size: 10px;
  font-weight: bold;
  border-radius: 0 12px 12px 0;
}

.botao-escolher-servico-ativado {
  width: 20%;
  height: 120px;
  padding: 0 5px;
  background-color: #00e676;
  border: none;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  color: white;
  cursor: not-allowed;
  font-size: 10px;
  font-weight: bold;
  border-radius: 0 12px 12px 0;
}
