.footer-bottom {
  position: fixed;
  bottom: 0%;
  z-index: 3;
  width: 100%;
}

@media (min-width: 1020px) {
  .footer-bottom {
    bottom: -2%;
  }  
}

.list-menu-bottom {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #13131e;
}

.list-menu-bottom > li {
  cursor: pointer;
}

@media (min-width: 1020px) {
  .img-icon-width {
    width: 20% !important;
  }
  .footer-bottom {
    height: 80px;
  }
}

.texto-branco {
  color: white;
  font-size: 13px;
  margin: 0;
}
.texto-preto {
  color: #212529;
  font-size: 12px;
  margin: 0;
}

.fundo-preto {
  width: 100%;
  height: 65px;
  max-height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #13131e;
  flex-direction: column;

  border-top: 1px solid #212529;

}

.fundo-branco {
  width: 100%;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  flex-direction: column;
  border-top: 1px solid #212529;
}

@media (max-width: 361px) {
  .fundo-branco {
    height: 60px;
  }
  .fundo-preto {
    height: 60px;
  }
  .texto-branco {
    font-size: 11px;
  }
  .texto-preto {
    font-size: 11px;
  }
}
