.icon-input-editar-perfil {
  background-color: transparent;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  border-left: 1px solid white;
  border-right: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.div-input-editar-perfil {
  background-color: transparent;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  border-left: none;
  border-right: none;
}

.input-editar-perfil {
  background-color: transparent;
  border: none;
  outline: 0;
  color: white;
}
.input-editar-perfil::placeholder {
  color: white;
}
.div-btn-alterar {
  background-color: #8b8a8a;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
   border-top: 1px solid white;
  border-bottom: 1px solid white;
  border-left: none;
  border-right: 1px solid white;
}

.button-salvar {
  margin-top: 7%;
  background-color: #8b8a8a;
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: 700;
  height: 30px;
}