.btn-almoco-desativado {
    color: white;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 4px;
}

.btn-almoco-ativado {
    color: #13c913;
    background-color: transparent;
    border: 1px solid #13c913;
    border-radius: 4px;
}


@media (max-width: 500px) {
    .btn-almoco-desativado {
        font-size: 11px;
        margin-right: 5px;
    }
    .btn-almoco-ativado {
        font-size: 11px;
        margin-right: 5px;        
    }
}