.pagina-barbeiros {
  padding-bottom: 90px; /* espaço extra pro footer */
  overflow-y: auto;
  height: 100%;
}

.barbeiros-container {
  padding: 20px 16px;
  color: white;
}

.lista-barbeiros {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.item-barbeiro {
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 12px;
  padding: 12px;
  gap: 16px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.horarios-text {
  font-size: 10px;
}

.imagem-barbeiro {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #fff;
  flex-shrink: 0; /* Evita que a imagem diminua */
}

.info-barbeiro {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%; /* Garante que ocupa todo o espaço */
}

.nome-barbeiro {
  font-size: 1.1rem;
  margin: 0;
  font-weight: bold;
  color: #fff;
  margin-left: 13px;
}

.prazo-barbeiro {
  margin: 2px 0;
  font-size: 0.95rem;
  color: #cfcfcf;
}

.preco-barbeiro {
  margin: 0;
  font-size: 1rem;
  font-weight: bold;
  color: #00e676;
}

/* Estilos para o ícone de relógio */
.cursor {
  cursor: pointer;
  transition: transform 0.2s ease;
}

.cursor:hover {
  color: #0d6efd;
  transform: scale(1.1);
}

/* Efeito de rotação quando expandido */
.cursor.expanded {
  transform: rotate(30deg);
}

