.encapsula-icon {
  width: 100%;
  display: flex;
}

@media (min-width: 270px) {
  .encapsula-icon {
    font-size: 13px;
  }

  .texto-responsivo {
    font-size: 13px;
  }

  .div-redonda-horarios {
    width: 35px;
    height: 35px;
  }
}

@media (min-width: 490px) {
  .encapsula-icon {
    font-size: 16px;
  }

  .texto-responsivo {
    font-size: 16px;
  }

  .div-redonda-horarios {
    width: 45px;
    height: 45px;
  }

}

.div-redonda-horarios {
    overflow: hidden; 
    border-radius: 50%; 
    position: relative; 
}

.personalizar-div-foto {
  height: 50px;
}

.div-redonda img {
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.encapsula-icon-wpp {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
}