.div-redonda-barbeiro {
  width: 60px; 
  height: 60px;
  overflow: hidden;
  border-radius: 50%;
  position: relative;
}

.div-redonda-barbeiro img {
  width: 100%; 
  height: 100%;
  object-fit: cover; 
  position: absolute;
  top: 0;
  left: 0;
}

.icon-relogio-responsivo {
  width: 100%;
}

@media (min-width: 266px) {
  .div-redonda-barbeiro {
    width: 40px;
    height: 40px;
  }
  .nome-barbeiro {
    font-size: 12px;
  }
  .icon-relogio-responsivo {
    width: 60%;
  }
}

@media (min-width: 375px) {
  .div-redonda-barbeiro {
    width: 60px;
    height: 60px;
  }
  .nome-barbeiro {
    font-size: 15px;
  }
  .icon-relogio-responsivo {
    width: 70%;
  }
}
  