.per-nav-bar {
  background-color: #13131e;
}
.icon-menu {
  cursor: pointer;
}

.img-logo {
  width: 180px; 
  height: 80px; 
  overflow: hidden; 
  border-radius: 10%; 
  position: relative; 
  display: flex;
  justify-content: center; 
  align-items: center;
}

.img-logo img {
  width: 100%; 
  height: 100%; 
  object-fit: contain;
}

.btn-home {
  cursor: pointer;
}

@media (max-width: 726px) {
  .img-logo {
    width: 140px;
  }
}


@media (max-width: 358px) {
  .img-logo {
    width: 110px;
  }
}
