.per-nav-bar {
  background-color: #13131e;
}
.icon-menu {
  cursor: pointer;
}

.img-logo {
  width: 20%; 
  height: 80px; 
  overflow: hidden; 
  border-radius: 10%; 
  position: relative; 
  display: flex;
  justify-content: center; 
  align-items: center;
}

.img-logo img {
  width: 100%; 
  height: 100%; 
  object-fit: contain;
}

.btn-home {
  cursor: pointer;
}
