.div-redonda-servico {
  width: 65px; 
  height: 65px; 
  overflow: hidden; 
  border-radius: 50%; 
  position: relative; 
}

@media (min-width: 266px) {
  .div-redonda-servico {
    width: 40px;
    height: 40px;
  }
  .nome-servico {
    font-size: 10px;
  }
}

@media (min-width: 375px) {
  .div-redonda-servico {
    width: 50px;
    height: 50px;
  }
  .nome-servico {
    font-size: 13px;
  }
}
