.icon-relogio-responsivo {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  margin-top: 4px;
}

@media (min-width: 266px) {
  .div-redonda-barbeiro {
    width: 40px;
    height: 40px;
  }
  .nome-barbeiro {
    font-size: 12px;
  }
  .icon-relogio-responsivo {
    width: 60%;
  }
}

@media (min-width: 375px) {
  .div-redonda-barbeiro {
    width: 60px;
    height: 60px;
  }
  .nome-barbeiro {
    font-size: 15px;
  }
  .icon-relogio-responsivo {
    width: 70%;
  }
}