.lista-planos-assinatura {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  overflow-x: auto;
}

.assinatura-cards {
  width: 100%;
  height: 75%;
  background-color: rgb(19, 19, 30, 0.8);
  overflow-y: auto;
}